<head>
    <title>Course List</title>
    <link rel="stylesheet" href="../assets/stylesheets/table.css">
    <meta charset="UTF-8">

</head>
<body>

<div>
    <table>
        <tr>
            <th>Course Number</th>
            <th>Title</th>
            <th>Term</th>
            <th>Instructor</th>
        </tr>

        <tr>
            <% for(var i = 0; i < course.length; i++){ %>
            <td><%=course[i].courseID%></td>
            <td><%=course[i].title%></td>
            <td><%=course[i].term%></td>
            <td><%=course[i].instructor%></td>
        </tr>
        <%}%>


        <tr>

        </tr>
    </table>
</div>
<a href="/">Go Back</a>
</body>
</html>