<head>
    <title>Class Schedule</title>
    <link rel="stylesheet" href="../assets/stylesheets/table.css">
    <meta charset="UTF-8">

</head>
<body>

<div>
    <table>
        <tr>
            <th>Course Number</th>
            <th>Title</th>
            <th>Term</th>
            <th>Instructor</th>
        </tr>

        <tr>
            <td><%=data.courseID%></td>
            <td><%=data.title%></td>
            <td><%=data.term%></td>
            <td><%=data.instructor%></td>
        </tr>

        <tr>

        </tr>
    </table>
</div>

</body>
</html>