<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<form id="contact-form" method = "POST" action = "/details">
    <label for="course">What is the number of the course you are taking?</label>
    <input type="text" name="course" >
    <br>
    <label for="startTime">What is the Start Time of the course?</label>
    <input type="text" name="startTime" >
    <br>
    <label for="endTime">What is the End Time of the course?</label>
    <input type="text" name="endTime" >
    <br>
    <label for="email">What is the Email Address of the instructor?</label>
    <input type="text" name="email" >
    <br>
    <input type="submit" value="submit">
</form>
<form id="courseList" method = "POST" action="/courseList">
    <input type="submit" value="See List of Courses">
</form>



</body>
</html>
